@model JournalForSecurity.ViewModels.SecJournalModel
@{
    ViewData["Title"] = "Security";
}

<h1>Security</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Отдел
            </th>
            <th>
                Дата начала
            </th>
            <th>
                Дата конца
            </th>
            <th>
                Реальное время
            </th>
            <th>
                Статус
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Journals)
        {
            <tr>
                <td>
                    @ViewBag.DepartmentName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBegin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealDate)
                </td>
                <td>
                    @{
                        if (item.Status)
                        {
                            <p>Выполнено</p>
                        }
                        else if(item.DateEnd > DateTime.Now)
                        {
                            <p>Ожидание/Выполнение</p>
                        }
                        else
                        {
                            <p>Не выполнено</p>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
                <td>
                    @{ if (!item.Status && DateTime.Now < item.DateEnd && DateTime.Now > item.DateBegin)
                        {
                            <form asp-action="RoundSubmit">
                                <input type="submit" class="btn btn-warning" value="Выполнено" />
                                <input type="hidden" asp-for="JournalStrId" value="@item.Id" />
                            </form>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

