@model IEnumerable<Journal>
@{
    ViewData["Title"] = "Security";
}

<h1>Security</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Отдел
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBegin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @ViewData["DepartmentName"]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBegin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
            </tr>
        }
    </tbody>
</table>

