@model JournalForSecurity.ViewModels.SecJournalModel
@{
    ViewData["Title"] = "Охрана";
}

<h1>Журнал</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Отдел
            </th>
            <th>
                Дата начала
            </th>
            <th>
                Дата конца
            </th>
            <th>
                Реальное время
            </th>
            <th>
                Статус
            </th>
            <th>
                Описание
            </th>
            <th>
                Объяснительная
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.Journals)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateBegin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RealDate)
                    </td>
                    <td>
                        @{
                            if (item.Status)
                            {
                                <p>Выполнено</p>
                            }
                            else if (item.DateEnd > DateTime.Now)
                            {
                                <p>Ожидание/Выполнение</p>
                            }
                            else if (item.Explanation != null)
                            {
                                <p>Написана объяснительная</p>
                            }
                            else
                            {
                                <p>Не выполнено</p>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Explanation.TaskName)
                    </td>
                    <td>
                        @{
                            if (!item.Status && DateTime.Now < item.DateEnd && DateTime.Now > item.DateBegin)
                            {
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#done-@item.Id">
                                    Выполнено
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="done-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Выполнение</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form asp-action="Index">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label class="control-label" for="userFio">От:</label>
                                                        <input class="form-control" id="userFio" type="text" value="@ViewBag.UserFIO" readonly />
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="TaskName"></label>
                                                        <input class="form-control" value="@String.Format($"Обход {item.DateBegin.ToShortDateString()} c {item.DateBegin.TimeOfDay} по {item.DateEnd.TimeOfDay}")" readonly />
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="Comment" class="control-label"></label>
                                                        <textarea rows="5" asp-for="Comment" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                    <input type="submit" class="btn btn-primary" value="Отправить" />
                                                    <input type="hidden" asp-for="JournalStrId" value="@item.Id" />
                                                </div>
                                                <input type="hidden" asp-for="Explanation" value="0"/>
                                                <input type="hidden" asp-for="Journals" value="@Model.Journals" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                            if (!item.Status && DateTime.Now > item.DateEnd && item.Explanation == null)
                            {
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EN-@item.Id">
                                    Написать объяснительную
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="EN-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Пояснительная записка</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form asp-action="WriteExplanatoryNoteToJournal" asp-route-department="@ViewBag.Department">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label class="control-label" for="userFio">От:</label>
                                                        <input class="form-control" id="userFio" type="text" value="@ViewBag.UserFIO" readonly />
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="TaskName"></label>
                                                        <input asp-for="TaskName" class="form-control" value="@String.Format($"Обход {item.DateBegin.ToShortDateString()} c {item.DateBegin.TimeOfDay} по {item.DateEnd.TimeOfDay}")" readonly />
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="Explanation" class="control-label"></label>
                                                        <textarea rows="5" asp-for="Explanation" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                    <input type="submit" class="btn btn-primary" value="Отправить" />
                                                    <input type="hidden" asp-for="JournalStrId" value="@item.Id" />
                                                </div>
                                                <input type="hidden" asp-for="Comment" value="0" />
                                                <input type="hidden" asp-for="Journals" value="@Model.Journals" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
