@model UsersModel

@{
    ViewData["Title"] = "Панель админа";
}

<h1>Панель админинстратора</h1>

<p>
    <a asp-action="Register">Создать нового пользователя</a>
</p>

<div asp-validation-summary="ModelOnly"></div>

<div class="btn-block">
    <nav class="navbar navbar-expand navbar-brand navbar-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index">Работающие</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-route-isDismissed="@true">Уволенные</a>
            </li>
        </ul>
    </nav>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Отчество
            </th>
            <th>
                Email
            </th>
            <th>
                Дата рожденич
            </th>
            <th>
                Номер телефона
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThirdName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @if (!item.isDismissed)
                    {
                        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target=@String.Format("#ParamsButtons{0}", item.UserName) aria-expanded="false" aria-controls=@String.Format("ParamsButtons{0}", item.UserName)>
                            Настройки
                        </button>
                        <div class="collapse" id=@String.Format("ParamsButtons{0}", item.UserName)>
                            <a class="btn" asp-action="EditUser" asp-route-id="@item.Id">Редактировать</a>
                            <a class="btn" asp-action="EditPassword" asp-route-id="@item.Id">Изменить пароль</a>
                            <form asp-action="Index" asp-controller="Admin" method="post">
                                <input type="hidden" asp-for="@Model.dUserId" value="@item.Id" />
                                <input type="submit" class="btn" value="Удалить" />
                            </form>
                        </div>
                    }
                    else
                    {
                        <form asp-action="Index" asp-controller="Admin" method="post">
                            <input type="hidden" asp-for="@Model.dUserId" value="@item.Id" />
                            <input type="submit" class="btn" value="Восстановить" />
                        </form>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
