@model IEnumerable<User>

@{
    ViewData["Title"] = "Панель админа";
}

    <h1>Панель админинстратора</h1>

<p>
    <a asp-action="Register">Создать нового пользователя</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThirdName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target=@String.Format("#ParamsButtons{0}", item.UserName) aria-expanded="false" aria-controls=@String.Format("ParamsButtons{0}", item.UserName)>
                        Настройки
                    </button>
                    <div class="collapse" id=@String.Format("ParamsButtons{0}", item.UserName)>
                        <a class="btn" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                        <a class="btn" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
