<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JournalForSecurity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">Журнал обхода территории</a>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#CollapseSup" aria-expanded="false" aria-controls="#CollapseSup">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="CollapseSup">
                            <ul class="navbar-nav mr-auto">
                                @{
                                    if (User.IsInRole("Security"))
                                    {
                                        if (ViewBag.Department != null)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="Index" asp-controller="Security"
                                                   asp-route-department="@ViewBag.Department">Журнал</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="Tasks" asp-controller="Security"
                                                   asp-route-department="@ViewBag.Department">Задачи</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="Events" asp-controller="Security"
                                                   asp-route-department="@ViewBag.Department">События</a>
                                            </li>
                                        }
                                    }
                                    if (User.IsInRole("HeadOfDepartment"))
                                    {
                                        if (ViewBag.Department != null)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="Index" asp-controller="HeadOfDepartment"
                                                   asp-route-department="@ViewBag.Department">Журнал</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="Tasks" asp-controller="HeadOfDepartment"
                                                   asp-route-department="@ViewBag.Department">Задачи</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="Events" asp-controller="HeadOfDepartment"
                                                   asp-route-department="@ViewBag.Department">События</a>
                                            </li>
                                        }
                                    }
                                    if (User.IsInRole("HeadOfOrganisation"))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Index" asp-controller="HeadOfOrganisation">Отчеты</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Tasks" asp-controller="HeadOfOrganisation">Задачи</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Events" asp-controller="HeadOfOrganisation">События</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="Statistic" asp-controller="HeadOfOrganisation">Статистика</a>
                                        </li>
                                    }
                                }
                            </ul>
                            <form class="justify-content-end" asp-controller="Account" asp-action="Logout">
                                @if (User.IsInRole("Security"))
                                {
                                    if (ViewBag.Department != null)
                                    {
                                        <a class="btn" asp-action="SwitchDepartment" asp-controller="Account" asp-route-role="Security">Сменить территорию</a>
                                    }
                                }
                                @if (User.IsInRole("HeadOfDepartment"))
                                {
                                    if (ViewBag.Department != null)
                                    {
                                        <a class="btn" asp-action="SwitchDepartment" asp-controller="Account" asp-route-role="HeadOfDepartment">Сменить территорию</a>
                                    }
                                }
                                <input type="submit" class="btn btn-outline-danger" value="Выход">
                            </form>
                        </div>
                    }
                }
            </div>
        </nav>
        @if (User.IsInRole("HeadOfDepartment") || User.IsInRole("Security"))
        {
            if (ViewBag.Department != null)
            {
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container justify-content-center">
                        <p class="navbar-brand">@ViewBag.Department</p>
                    </div>
                </nav>
            }
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - JournalForSecurity
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
